<div class="article-card">
  <div class="article-card-category">Фриланс</div>
  <div class="article-card-image" style="background-image: url('')"></div>
  <div class="article-card-title">6 сайтов для повышения продуктивности</div>
  <div class="article-card-description">
    Хотите проводить время в сети с пользой? Наша подборка из шести полезных, но малоизвестных сайтов увеличит
    вашу продуктивность, поможет успевать больше в течение дня и всегда быть на шаг впереди!
  </div>
  <div class="article-card-detail">
    <a>Читать дальше</a>
  </div>
</div>
