@import "../../../../assets/styles/variables";

.catalog {
  padding: 80px 0 120px;

  .container {
    .general-title {
      margin-bottom: 40px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      .catalog-applied-filters {
        display: flex;

        .catalog-applied-filter {
          background: #FFFFFF;
          border: 1.5px solid $light-blue-color;
          border-radius: 5px;
          padding: 8px 20px;
          display: flex;
          align-items: center;

          span {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $light-blue-color;
            margin-right: 8px;
          }

          a {
            cursor: pointer;

            svg {
              margin-top: 2px;
            }
          }
        }
      }

      .catalog-sorting {
        display: flex;
        align-items: center;
        width: 148px;
        justify-content: space-between;
        cursor: pointer;
        margin-left: 25px;

        span {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #071739;
        }

      }
    }

    .catalog-articles {
      display: flex;
      flex-wrap: wrap;
      gap: 40px 24px;
    }

    .pagination {
      margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.zero {
            display: none;
          }

        }

        &.disabled {
          img {
            &.zero {
              display: block;
            }

            &.active {
              display: none;
            }
          }
        }
      }

      .pagination-pages {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        align-items: center;

        .pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          margin-right: 40px;
          cursor: pointer;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          color: $dark-blue-color;

          &.active {
            color: #B9D5FD;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
