@import "../../../../assets/styles/variables";

.detail {
  .container {
    padding: 80px 0 120px;

    .breadcrumbs {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: $light-blue-color;
      margin-bottom: 60px;

      span {
        font-weight: 400;
        color: #B9D5FD;
      }

      svg {
        margin: 0 8px;
      }
    }

    .detail-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      .detail-header-info {
        max-width: 607px;

        .detail-header-info-title {
          margin-bottom: 40px;
        }

        .detail-header-info-description {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          color: $light-blue-color;
        }
      }

      .detail-header-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 527px;
        height: 320px;
        border-radius: 5px;
      }
    }

    .detail-main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      .detail-main-info {
        max-width: 818px;


      }

      .detail-main-related {

        .detail-main-related-items {
          display: flex;
          flex-flow: column;
          gap: 60px;
        }

        .detail-main-related-title {
          font-family: 'Lora', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          color: $light-blue-color;
          margin-top: 60px;
          margin-bottom: 20px;
        }

      }
    }

    .detail-share {
      display: flex;
      align-items: center;
      margin-bottom: 60px;

      span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: $light-blue-color;
        margin-right: 20px;
      }

      a {
        svg {
          margin-right: 13px;

          &:hover {
            path {
              stroke: $light-blue-color;
            }
          }
        }
      }
    }

    .detail-comments {
      .general-title {
        margin-bottom: 20px;
      }

      .detail-comments-description {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: $dark-blue-color;
        margin-bottom: 40px;

        a {
          color: $light-blue-color;
          cursor: pointer;
          text-decoration: none;
        }
      }

      textarea {
        width: 818px;
        height: 248px;
        background: #FFFFFF;
        border: 1.5px solid #709FDC;
        border-radius: 3px;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: $dark-blue-color;
        resize: none;

        &::placeholder {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: #A8ABA7;
        }
      }

      .add-comment {
        margin-top: 20px;

        .btn {
          width: 422px;
          height: 51px;
        }
      }

      .detail-comments-items {
        margin-top: 60px;

        .detail-comments-item {
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }

          .detail-comments-item-header {
            display: flex;
            margin-bottom: 15px;

            .detail-comments-item-header-image {
              width: 60px;
              height: 60px;
              background: #B9D5FD;
              border: 2px solid #709FDC;
              border-radius: 50%;
              margin-right: 26px;
              position: relative;

              img {
                position: absolute;
                bottom: 8px;
                left: 8px;
              }
            }

            .detail-comments-item-header-info {

              .detail-comments-item-header-name {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: $light-blue-color;
                margin-bottom: 10px;
              }

              .detail-comments-item-header-time {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #BEBEBE;
              }
            }
          }

          .detail-comments-item-main {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: $dark-blue-color;
            max-width: 854px;
            margin-bottom: 39px;
          }

          .detail-comments-item-footer {
            display: flex;
            align-items: center;

            .detail-comments-item-footer-like {
              display: flex;
              align-items: center;
              margin-right: 15px;

              span {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: $dark-blue-color;
                margin-right: 3px;
              }

              a {
                text-decoration: none;
                margin-top: 2px;
                cursor: pointer;
              }

              &.active {
                span {
                  color: $light-blue-color;
                }

                a {
                  path {
                    stroke: $light-blue-color;

                  }
                }
              }
            }

            .detail-comments-item-footer-dislike {
              display: flex;
              align-items: center;
              margin-right: 15px;

              span {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: $dark-blue-color;
                margin-right: 3px;
              }

              a {
                text-decoration: none;
                margin-top: 2px;
                cursor: pointer;
              }

              &.active {
                span {
                  color: $light-blue-color;
                }

                a {
                  path {
                    stroke: $light-blue-color;
                  }
                }
              }
            }

            .detail-comments-item-footer-info {
              display: flex;
              align-items: center;

              a {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
