@import "../../../../assets/styles/variables";

.footer {
  background: #B9D5FD;
  padding: 40px 0 54px;

  .container {

    .footer-top {
      display: flex;
      margin-bottom: 40px;

      .logo {
        margin-right: 40px;
      }

      .footer-menu {
        nav ul {
          display: flex;
          align-items: center;

          li {
            list-style: none;
            margin-right: 20px;

            a {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: $dark-blue-color;
              text-decoration: none;

              &.active {
                color: $light-blue-color;
              }

              &:hover {
                color: $light-blue-color;
              }
            }
          }
        }
      }
    }

    .footer-main {
      display: flex;
      margin-bottom: 6px;

      .footer-main-item {
        margin-right: 60px;

        .footer-main-title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: $light-blue-color;
          margin-bottom: 10px;
        }

        .footer-main-description {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: $dark-blue-color;
          max-width: 253px;

          .footer-main-phone {
            margin-bottom: 10px;

            a {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              color: $dark-blue-color;
              text-decoration: none;

              &:hover {
                color: $light-blue-color;
              }
            }
          }

          a {
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $dark-blue-color;

            svg {
              margin-right: 12px;

              &:hover {
                path {
                  stroke: $light-blue-color;
                  fill: $light-blue-color;
                }
              }
            }

            &:hover {
              color: $light-blue-color;
            }
          }

          .btn {
            width: 153px;
            height: 36px;
            font-size: 12px;
          }
        }
      }
    }

    .footer-bottom {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: $light-blue-color;
    }
  }
}

.popup {
  padding: 94px 153px 86px;
  border: 1.5px solid #709FDC;
  border-radius: 10px;
  position: relative;

  .popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .popup-title {
    margin-bottom: 20px;
    text-align: center;
  }

  .auth-input {
    margin-bottom: 5px;

    input {
      width: 100%;
    }
  }

  .auth-button {
    margin-top: 20px;

    .error {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: red;
      margin-bottom: 5px;
    }

    .btn {
      width: 100%;
      height: 51px;
    }
  }
}


.success {
  padding: 163px 142px;
  text-align: center;
  position: relative;

  .popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .success-title {
    margin-bottom: 20px;
  }

  .success-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1E1A2B;
    margin-bottom: 40px;
  }

  .btn {
    width: 73px;
    height: 36px;
  }
}

