@import "../../../../assets/styles/auth-form";

.signup {
  .container {
    display: flex;
    margin-bottom: 120px;

    .auth-checkbox {
      align-items: baseline;
    }


    .page-image {
      padding-top: 123px;
    }
  }
}
