html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.btn {
  background: $light-blue-color;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: rgba(112, 159, 220, 0.8);
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

.input {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1.5px solid #709FDC;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $dark-blue-color;
  padding: 17.5px 20px;
}

.mat-mdc-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $dark-blue-color;
}

.general-title {
  font-family: 'Lora', sans-serif;
  font-style: normal;
  font-weighhtml, body {
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: $container-width;
    margin: 0 auto;
  }

  .btn {
    background: $light-blue-color;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background: rgba(112, 159, 220, 0.8);
    }

    &:disabled {
      background: gray;
      cursor: not-allowed;
    }
  }

  .input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.5px solid #709FDC;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #A8ABA7;
    padding: 17.5px 20px;
  }

  .mat-mdc-menu-item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $dark-blue-color;
  }

  .general-title {
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;
    color: $light-blue-color;
  }

  .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 30px);
    z-index: 3;
  }

  .owl-theme .owl-dots .owl-dot span {
    border: 1px solid #FFFFFF;
    background: transparent;
    margin: 5px 10px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #FFFFFF;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 10px!important;
  }
  t: 400;
  font-size: 38px;
  line-height: 130%;
  color: $light-blue-color;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 30px);
  z-index: 3;
}

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #FFFFFF;
  background: transparent;
  margin: 5px 10px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #FFFFFF;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px!important;
}
